<h2>{{ beer.name }}</h2>
<p class="lead">Origin: {{ beer.location }}<br />ABV: {{ beer.abv }}%</p>
<a href="/" class="btn btn-info">Back to list</a>
<button ng-click="deleteBeer()" class="btn btn-danger">Delete</button>
<button  ng-click="selectEditable(2)" class="btn btn-danger">Edit</button>
<div class="container" ng-show="beginEdit(2)">
	<h2>Update Beer Entry</h2>

	<form name='newBeer' novalidate class='form-horizontal'>
	    <div class="form-group">
	        <label for="name">Name</label>
	        <input type="text" placeholder="{{beer.name}}" class="form-control" name="name" ng-model="beer.name">
	    </div>
	    <div class="form-group">
	        <label for="location">Origin</label>
	        <input type="text" placeholder="{{ beer.location }}" class="form-control" name="location" ng-model="beer.location">
	    </div>
	    <div class="form-group">
	        <label for="abv">ABV</label>
	        <input type="number" placeholder="{{ beer.abv }}" class="form-control" name="abv" ng-model="beer.abv">
	    </div>
	    <div class='form-group'>
	        <button class='btn btn-success' ng-click="updateBeer()">Update Entry</button>
	    </div>
	</form>

</div>
